@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}
.ql-toolbar {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #efefef;
}
.ql-container {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: #f9fafb;
}
.post-content p {
  margin-bottom: 0.5rem;
  text-align: justify;
}
.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
.post-content h2 {
  font-size: 1.4rem;
  font-weight: 300;
  border-bottom: 1px solid;
  font-family: sans-serif;
  margin: 1.5rem 0 0.8rem 0;
}
.post-content h3 {
  font-size: 1.2rem;
  font-weight: 200;
  font-family: sans-serif;
  margin: 1.2rem 0 0.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
  font-style: italic;
}
.post-content a:hover {
  text-decoration: underline;
}
